<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guestbook</title>
	<meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link rel="stylesheet" 
       src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
       integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
       crossorigin="anonymous"
	   th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}">
</head>
<body>
  <div class="container">
 	<h1>Guestbook</h1>
 	<form action="#" th:action="@{/messages}" th:object="${messageCommand}" method="post">
    	<div>
    		<label for="title">Title</label>
    	</div>
    	<div>
  			 <input type="text" th:field="*{title}" />
    	</div>
    	<div>
    		<label for="content">Content</label>
    	</div>
    	<div>
  			 <textarea th:field="*{content}" />
    	</div>
        <p><input type="submit" value="Submit" /></p>
    </form>
	<div th:each="message : ${messages}">
		<div class="card">
	  	<div class="card-block">
	  		<h4 class="card-title" th:text="${message.title}">Default title</h4>
			<h6 class="card-subtitle mb-2 text-muted" th:text="${message.id}">0</h6>
			<div class="card-text" th:text="${message.content}">Default message</div>
		</div>
		<div>
	<div>
	</div>
</body>
</html>